h1, h2{
    color: var(--text-color);
}

.heroDivider{
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10rem;
}

.formBtn{
    font-size: clamp(.75rem, 2.5vw, 1.25rem);
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    background-color: var(--primary-color);
    box-shadow: inset 0 0 5px var(--text-color);
    color: white;
    border: none;   
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.formBtn:hover, .formBtn:focus-visible{
    transform: translateY(-3px);
    outline: none;
    background-color: var(--text-color);
    color: white;
    box-shadow: 6px 6px 10px var(--primary-color);
}

.formBtn:visited{
    color: white;
}

.animalsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 2rem;
}

.animalCard{
    border: 1px solid #cddce4;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--background-color);
    color: var(--text-color);
}

.animalCard:hover, .animalCard:focus-visible{
    transform: translateY(-4px);
    box-shadow:  0 0 5px var(--text-color);
}

.animalImage{
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.learnMoreBtn{
    background-color: var(--primary-color);
    box-shadow: inset 0 0 5px var(--text-color);
    color: white;
    border: none;   
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none; 
}

.learnMoreBtn:hover, .learnMoreBtn:focus-visible{
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--text-color);
}