.animalsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.animalCard{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animalCard:hover, .animalCard:focus-visible{
    transform: translateY(-8px);
    box-shadow:  0 0 5px lightgrey;
}

.animalImage{
    width: 200px;
    height: auto;
}