*{
    box-sizing: border-box;
}

.navbarLogo{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-radius: 40px;
    background-color: var(--background-color);
}

.logoCenter{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.navbarMenu{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navbarLink, .navbarBrand{
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: var(--text-color); 
    letter-spacing: .1rem;
    cursor: pointer;
}

.navbarLink:visited, .navbarBrand:visited{
    color: var(--visited-link);
}

.navbarLink:hover, .navbarLink:focus-visible, .navbarBrand:hover, .navbarBrand:focus-visible{
    color: var(--primary-color);
    font-size: 1.2rem;
    transform: translateY(-5px);
    outline: none;
    text-shadow: 1px 1px 4px #808080bc;
}

@media (max-width: 600px) {
    .appTitle {
        display: none;
    }
}
