*{
    box-sizing: border-box;
}

.navbarContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: var(--background-color);
}

.navbarMenu{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navbarLink, .navbarBrand{
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s ease;
    display: inline-block;
    font-size: 1.1rem;
    color: var(--text-color); 
    letter-spacing: .1rem;
    cursor: pointer;
}

.navbarLink:visited, .navbarBrand:visited{
    color: var(--visited-link);
}

.navbarLink:hover, .navbarLink:focus-visible, .navbarBrand:hover, .navbarBrand:focus-visible{
    color: var(--primary-color);
    font-size: 1.2rem;
    transform: translateY(-5px);
    outline: none;
    text-shadow: 1px 1px 4px #808080bc;
}