*{
    box-sizing: border-box;
}

.navbarContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
}

.navbarMenu{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navbarLink, .navbarBrand{
    text-decoration: none;
    color: #1d375d ;
    font-weight: bold;
    transition: transform 0.2s ease;
    display: inline-block;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    cursor: pointer;
}

.navbarLink:hover, .navbarLink:focus-visible, .navbarBrand:hover, .navbarBrand:focus-visible{
    color: #0891eb ;
    font-size: 1.2rem;
    transform: translateY(-5px);
    outline: none;
    text-shadow: 1px 1px 4px grey;
}