.btn {
    background-color: var(--primary-color);
    box-shadow: inset 0 0 5px var(--text-color);
    color: white;
    border: none;   
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover, .btn:focus-visible{
    transform: translateY(-3px);
    outline: none;
    background-color: var(--text-color);
    color: white;
    box-shadow: 6px 6px 10px var(--primary-color);
}