.header{
    display: flex;
    justify-content: flex-end;
}

.header button{
    font-size: 1rem;
    padding: .7rem 1.5rem;
}

.removeButton{
    margin-left: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
}

.profileSection{
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 4px var(--secondary-color);
    background-color: var(--background-color);
    border-radius: 8px;
    margin: 1rem 0;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 800px;
}

.inputSelect{
    display: grid;
    grid-template-columns:150px minmax(0, 1000px);
    gap: 1rem;
    
}
input, select{
    border: none;
    border-radius: 4px;
    height: 1.75rem;
    color: var(--text-color);
}


input:focus-visible, input:hover, select:focus-visible, select:hover{
    box-shadow: inset 0 0 6px var(--text-color);
    outline: none;
}

@media screen and (max-width: 480px) {
    .inputSelect{
        grid-template-columns: 1fr;
    }
    input{
        margin-bottom: .25rem;
    }
}

.notesSection{
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 0 4px var(--secondary-color);
    max-width: 800px;
    padding: 0 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.notesContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 1rem;
}

.notesSection Button{
    font-size: 1rem;
    padding: .7rem 1.5rem;
    max-width: fit-content;
}

.notesList{
    padding-right: 1rem;
}

.noteText{
    font-size: clamp(1rem, 3.5vw, 1.25rem);
}
.noteDate{
    font-size: .85rem;
    color: var(--secondary-color);
}

.photo{
    max-width: 300px;
    border-radius: 8px;
}

.noteInput:focus-visible, .noteInput:hover{
    box-shadow: inset 0 0 6px var(--text-color);
    outline: 3px solid var(--primary-color);
}