.formContainer{
    margin: 1rem;
}

.formGroup{
    display: grid;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 0 3px var(--text-color);
    color: var(--text-color);
    background-color: var(--background-color);
}

.idInput{
    border: none;
    min-width: 280px;
    flex: 0 0 auto;
}

.animalInput {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.photoInput {
    flex-direction: column;
}

.photoInput p {
    font-size: 0.9rem;
    color: var(--text-color);
}

.submitBtn{
    max-width: fit-content;
    letter-spacing: .2rem;
    margin-top: 24px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
}

fieldset {
    margin-top: 20px;
    border-radius: 8px;
}

textarea {
    width: 100%;
    max-width: 360px;
}

.successMessage {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 2rem;
}