:root{
    --background-color: #eef3f6;
    --primary-color: #6FA3B8;
    --secondary-color: #3F5F6B;
    --text-color: #1F3E46;
    --visited-link: #8C7AAE;
}

*{
    font-family: sans-serif;
}

h1,h2, h3, h4, h5, h6{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: var(--text-color);
}

h1{
    font-size: clamp(2rem, 8vw, 4rem);
    margin: 1rem 0;
}

h2{
    font-size: clamp(1.5rem, 6vw, 3rem);
}

h3{
    font-size: clamp(1rem, 3.75vw, 2rem);
}

p{
    color: var(--text-color);
}
